.table-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  table {
    width: 100%;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .table-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .acciones-column {
    text-align: center;
  }
  
  